
  *{
    box-sizing: border-box;
}
body{
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 0;
background: #f1f1f1;
}
header{
text-align: center;
background-color: rgb(182, 3, 107);
padding: 30px;

}
header h1 {
color: white;
font-size: 50px;

font-weight: 100;
}
nav ul { 
margin: 0%;
padding: 0px;
overflow: hidden;
background-color: rgb(21, 4, 98);
}
nav a{
color: white;
text-decoration: none;
display: block;
padding: 16px;
}
nav li{
float: left;
}
nav a:hover{
background-color: white;
color: rgb(21, 4, 98);
border-radius: 6px 12px;
}
.linha{
    padding: 0 20px;
    display: table;
    width: 100%;
    }
section{
    float: left;
    width: 50%;
    }
aside{
    float: left;
    width: 50%;
    padding-left:20px ;
    
    }
    img{
        width: 100%;
    }
  
    .carde{
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    }
  
  